.search-box {

  /* top: 20px;
  left: 20px; */
  display: flex;
  height:70px;
  width: 30%;
}
/* #search-results{ */
/* display: none; */
/* visibility: hidden;
} */
.search-box input[type="text"] {
  height: 60%;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
}

.search-box button {
  height: 60%;
  width: 15%;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 6px;
}

.search-box button:hover {
  cursor: pointer;
}

.search-box button i {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .search-box input[type="text"] {
    width: 150px;
  }
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
  }
  
  .search-box {
    position: relative;
  }
  
  .dropdown a {
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    width: 100%;
  }
  
  .show {
    display: block;
  }
  
.audio-player {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1%;
    margin-right: 10%;
  }
  
.progress-bar {
    width: 50%;
    height: 10px;
    background-color: #333;
    position: relative;
    margin-top: 1%;
    cursor: pointer;
  }
  
.progress {
    height: 100%;
    background-color: #fff;
  }

.progress-bar:hover .progress{
    background-color: #008000;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -5px;
    transform: translateX(-50%);
  }
  
.play-controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.play-controls i {
    font-size: 2rem;
    margin: 0 10px;
  }
  
  @media screen and (max-width: 768px) {
    .audio-player {
      width: 80%;
      margin-right: 0%; 
    }
  }
  
  
  .sound-container {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    margin-top: 27%;
  }
  .sound-control {
    display: flex;
    align-items: center;
    height: 30px;
    width: 300px;
    background-color: #202020;;
    position: relative;
   }
 
   .sound-control i {
    font-size: 1.2rem;
    margin-right: 10px;
   }
 
   .sound-bar {
    height: 4px;
    width: 40%;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
   }
   .sound-progress:hover, .sound-bar:hover{
    background-color: #008000 !important;
   }
 
   .sound-bar .sound-progress {
    height: 100%;
    background-color: #fff;
    position: relative;
   }
 
   .sound-bar .sound-progress .sound-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -4px;
    right: -6px;
    cursor: pointer;
   }

html {
    --main-bg-color: #0e0e0e;
    --main-font-color: #b9b5b5;
    --main-highlight-color: #fff;
    --main-link-active-color: #fff;
    --main-border-color: #808080 4d;
    --activity-bg-color: #000;
    --footer-height: 100px;
    --main-bg-color-dark: #202020;
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    color: var(--main-font-color);
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
}
h1, h2, h3 {
    font-weight: 400;
    margin: 0;
    color: var(--main-highlight-color);
}
.button {
    padding: 15px 10px;
    background: transparent;
    border: 1px solid var(--main-font-color);
    border-radius: 20px;
    color: var(--main-font-color);
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.3s;
    letter-spacing: 1.2px;
}
.button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}
.link {
    display: inline-block;
    color: var(--main-font-color);
    padding: 5px;
    text-decoration: none;
    transition: all 0.5s;
}
.link:visited, .link:focus .link:hover, .link:active {
    color: var(--main-font-color);
}
.link:hover, .link:active, .link:focus {
    color: var(--main-link-active-color);
}
.wrapper {
    display: grid;
    background: var(--main-bg-color);
    grid-gap: 10px;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-areas: "main" "sidebar";
  }
  
  @media (min-width: 800px) {
    .wrapper {
      grid-template-columns: auto;
      grid-template-areas: "main";
    }
  }
  
  @media (min-width: 1200px) {
    .wrapper {
      grid-template-columns: auto;
      grid-template-areas: "main";
    }
  }
.sidebar {
    background: var(--activity-bg-color);
    grid-area: sidebar;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.sidebar li {
    line-height: 2;
}
.sidebar__header {
    margin-bottom: 5px;
}
.sidebar__header {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.2px;
}
main {
    grid-area: main;
    padding: 10px 20px;
}
@media (min-width: 800px) {
    main {
        padding: 10px 20px calc(var(--footer-height) + 40px);
        margin-bottom: 20px;
   }
}
.main__header h1 {
    margin-bottom: 20px;
    font-size: 38px;
}
.main__header{
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__nav {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--main-border-color);
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;
}
.main__nav .link {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-size: 13px;
    border-bottom: 2px solid transparent;
    padding-bottom: 11px;
}
.main__nav .link.is-active {
    color: var(--main-link-active-color);
    border-bottom: 3px solid green;
    display: block;
    visibility: visible;
}
.main__nav .link:nth-of-type(2), .main__nav .link:nth-of-type(3), .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
    display: none;
}
@media (min-width: 800px) {
    .main__nav .link:nth-of-type(2), .main__nav .link:nth-of-type(3), .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
        display: inline;
   }
}
.main__playlists h2 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-border-color);
}
.bg_div{
    display: flex;
    flex-direction: column;
    background-color:#202020;
    opacity: 0.8;
    cursor: pointer;
  }
  
  .bg_div:hover{
    opacity: 1;
  }
  
  .music__list {
    display: grid;
    grid-template-columns: minmax(200px, auto);
    grid-gap: 20px;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  @media (min-width: 800px) {
   .music__list {
     grid-template-columns: repeat(2, minmax(250px,1fr));
   }
  }
  
  @media (min-width:1200px) {
   .music__list {
     grid-template-columns: repeat(4, minmax(250px,1fr));
   }
  }
  
  @media (min-width:1600px) {
   .music__list {
     grid-template-columns: repeat(4, minmax(250px,1fr));
   }
  }
  
  .music__list-item {
   padding:10px;
   min-height:250px;
   background-size:cover;
   background-repeat:no-repeat;
   opacity:.8;
   transition:.4s ease-in-out opacity; 
   display:flex; 
   align-items:center; 
   align-content: center;
   justify-content:center; 
   flex-direction:column; 
   position:relative; 
   cursor:pointer;
  }
  
  .music__list-item:hover {
   opacity:1.5 !important;
  }
  
  .song__name {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;

  }
  
  .song__creator {
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
  }
  .hidden{
    display: none;
    visibility: hidden;
  }
 
/* .music__list {
    display: grid;
    grid-template-columns: minmax(200px, auto);
    grid-gap: 20px;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
@media (min-width: 800px) {
    .music__list {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
   }
}
@media (min-width: 1200px) {
    .music__list {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
   }
}
@media (min-width: 1600px) {
    .music__list {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
   }
}
.music__list-item {
    padding: 10px;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: opacity 0.4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.music__list-item:hover {
    opacity: 1.5 !important;
} */
.activity {
    grid-area: social;
    display: none;
    background-color: var(--activity-bg-color);
    padding-left: 20px;
}
.activity h2 {
    margin: 30px 0;
}
@media (min-width: 1200px) {
    .activity {
        display: block;
   }
}
.footer {
    position: fixed;
    display: grid;
    height: var(--footer-height);
    grid-template-columns: 150px 1fr auto;
    bottom: 0;
    grid-gap: 0px;
    background: var(--main-bg-color-dark);
    padding: 20px 20px 100px;
    width: 100%;
    transition:  all 0.5 ease-in-out !important;

}
@media (min-width: 800px) {
    .footer {
        grid-template-columns: 250px 1fr 60px;
   }
}
.now-playing {
    display: flex;
    margin-top: -4% !important;
}
.album__image {
    width: 100px;
    height: 100px;
}
.album__musician, .album__title {
    display: block;
}
.album__info {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.like-div{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 9px;
    flex-direction: column-reverse
}
.pop {
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
  }
  
  @keyframes pop {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }
.album__title {
    color: var(--main-highlight-color);
    margin-bottom: 5px;
}
.album__musician {
    font-size: 13px;
}
i {
    color: var(--main-font-color);
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}
i:hover {
    color: var(--main-link-active-color);
}
.bg_div{
    display: flex; 
    flex-direction: column; 
     background-color:#202020; 
     opacity: 0.8; 
     cursor: pointer;
}
.bg_div:hover{
    opacity: 1;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.time{
  display: flex;
    margin-top: 2%;
    flex-direction: row;
    justify-content: space-between;
}
i.fa-play-circle:hover {
    transform: scale(1.2);
}
.play-controls {
    align-self: center;
    justify-self: center;
}
.play-device-controls {
    align-self: center;
}
.song__title {
    font-size: 18px;
    color: var(--main-highlight-color);
    margin-bottom: 8px;
}
.song__creator {
    font-size: 12px;
}
